<!DOCTYPE html>

<html>
	<head>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="app.js"></script>
		<script src="directives/drag-drop.js"></script>
		<script src="services/data-service.js"></script>
		<script src="directives/house.js"></script>
		<script src="directives/toolbox.js"></script>
		<script src="directives/time-control.js"></script>
		<script src="controllers/testController.js"></script>
		<link href="style.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="synergyCity" ng-controller="Controller" class="synergyCity">
		<div class="toolbox">
			<toolbox drag-start="true"></toolbox>
			<button ng-click="setHouses(1)">1 House</button>
			<button ng-click="setHouses(4)">4 Houses</button>
		</div>
		<div class="canvas">
			<!--<house ng-repeat="house in houses"></house>-->
			<div class="ground">
				<div class="six-houses">
					<div class="house-area"></div>
					<div class="vertical-road">
						<div class="vertical-road-markings"></div>
					</div>
					<div class="house-area"></div>
					<div class="vertical-road">
						<div class="vertical-road-markings"></div>
					</div>
					<div class="house-area"></div>
					<div class="horizontal-road"></div>
					<div class="intersection"></div>
					<div class="horizontal-road"></div>
					<div class="intersection"></div>
					<div class="horizontal-road"></div>
					<div class="house-area"></div>
					<div class="vertical-road">
						<div class="vertical-road-markings"></div>
					</div>
					<div class="house-area"></div>
					<div class="vertical-road">
						<div class="vertical-road-markings"></div>
					</div>
					<div class="house-area"></div>
				</div>
			</div>
		</div>
		<div class="global-panels">
			<global-data></global-data>
			<time-control></time-control>
		</div>
	</body>
</html>
