* {
	box-sizing: border-box;
}

html, body {
	height:100%;
	margin:0;
	padding:0;
	font-family:roboto;
	overflow:hidden;
	min-width:1000px;
}

.synergyCity {
	display:flex;
	flex-direction: column;
}

.header {
	flex:0 0 80px;
	display:flex;
	height:80px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
}

.header-left {
	flex:1;
}

.header-center {
	flex:0 0 200px; 
	height:100%;
}

.header-center-wrapper {
	position:absolute;
	height:100px;
	width:200px;
	background:#ffbb00;
	padding:15px;
	margin-top:-10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

.header-center-text {
	height:100%;
	background-image:url('content/synergy.svg');
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
}

.header-right {
	flex:1;
	position:relative;
}

.city {
	background-image:url('content/city_2015.svg');
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width:150px;
	height:40px;
	top:18px;
	left:0;
	position:absolute;
}

.cityyellow {
	background-image:url('content/city_2015 yellow.svg');
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width:150px;
	height:40px;
	top:20px;
	left:2px;
	position:absolute;
}

.citywhite {
	background-image:url('content/city_2015 white.svg');
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width:150px;
	height:40px;
	top:19px;
	left:1px;
	position:absolute;
}

.body {
	flex:1;
	display:flex;
	flex-direction: row;
	height:calc(100% - 70px);
}

.toolbox {
	flex: 0 0 200px;
	border-right: #ddd 1px solid;
	display:block;
}

toolbox {
	height:100%;
}

.toolbox-solar-panel {
	margin:20px 20px 0 20px;
	width:calc(100% - 40px);
	height:180px;
	background-image:url('content/solar_panel.svg');
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.solar-panel-detail {
	text-align:center;
	font-size: 16px;
	line-height:25px;
}

.toolbox-message {
	font-size:20px;
	margin:30px;
	color:#aaa;
	text-align:center;	
}

.canvas {
	flex: 1;
	height:100%;
	/*display:flex;
	flex-direction: row;*/
	/*padding:30px;*/
}
/*
house {
	display:block;
	height:100%;
}*/


.house-status {
	flex: 0 0 65px;	
	color:white;
	margin-bottom:10px;
}

.production-value {
	text-align:center;
}

.consumption-value {
	text-align:center;
}

.happiness-value {
	text-align:center;
}

.house-view {
	flex: 1;
	position:relative;
}

.house-image {
	height:100%;
	background-image:url('content/house_1.svg');
	background-size:contain;
	background-repeat:no-repeat;
    background-position: center;
	position:absolute;
	width:100%; 
}

.house-inventory {
	flex: 0.6;
	position:relative;
	margin-top:5px;
}

.solar-panels {
	height:100%;
	width:100%;
	position:absolute;
}

.solar-panel {
	float:left;
	width: calc(25% - 20px);
	height:100%;
	background:url('content/solar_panel.svg');
	background-repeat:no-repeat;
    background-position: center;
	background-size: contain;
	margin:10px;
	opacity:0.2;
}

.solar-panel-filled {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.solar-panel-filled.ng-enter {
	opacity:0.5;
}

.solar-panel-filled.ng-enter-active {
	opacity:1;
}

.solar-panel-filled {
	opacity:1;
}

.dragging-solar-panel .solar-panel:not(.solar-panel-filled) {
	opacity: 0.5;	
}
.global-panels {
    flex: 0 0 200px;
}

.large-status-item {
	float:left;
	width:33%;
	height:50px;
	color:black;
}

.large-status-item face {
	height:100%;
	width:100%;
}

.large-status-item face div {
	background-position:inherit;
}

face div {
	background-position:center;
}

.status-item {
	float:left;
	width:33%;
	height:30px;
	font-size:16px;
	color:black;
}

.status-icon {
	width:20px;
	height:20px;
	margin-top:-2px;
}

.status-icon span.units {
	font-size: 14px;
}

@media all and (max-width: 1900px) {
	.status-item {
		font-size:14px;
	}
	.status-icon span.units {
		font-size: 12px;
	}
}

.status-item * {
	vertical-align: middle;
}

.house-status {
}

.house-status-production {
	flex:1;
}

.house-status-consumption {
	flex:1;
}

.house-status-happiness {
	flex:1;
}

.ground {
	height: 100%;
	width:100%;
	transition: background-color 0.4s ease;
	-webkit-transition: background-color 0.4s ease;
}

 .six-houses {
	 height:100%;
 }

.vertical-road {	
	background-color:#444;
	background-image: url('content/road_vertical.svg');
	background-size:contain;
	float:left;
	width:60px;
	height: Calc(50% - 35px);
}

/*.vertical-road-markings {
	width:0px;
	border-right: #fff 2px dashed;
	height:100%;
	margin-left:14px;
}*/

/*.horizontal-road-markings {
	width:100%;
	border-bottom: #fff 2px dashed;
	height:0px;
	margin-top:14px;
}*/

.horizontal-road {
	background-color:#444;
	background-image: url('content/road_horizontal.svg');
	background-size:contain;
	width: Calc(33% - 37px);
	float:left;
	height:60px;
}

face {
	display:block;
}

face div {
	width:100%;
	height:100%;
}

.intersection {
	width:60px;
	height:60px;
	float:left;
	/*border: #fff 3px solid;*/
	background:#444;
	background-image: url('content/road_intersection.svg');
	
	background-size:contain;
	background-repeat:no-repeat;
}

.house-image {
	height:100%;
	background-image:url('content/house_1.svg');
	background-size:contain;
	background-repeat:no-repeat;
}
house {
	/*flex:1;*/
	display:flex;
	flex-direction: column;
	/*height:100%;*/
	/*margin:5px;*/
	/*margin: 100px;*/
}

.six-houses house {
	float:left;
	width: Calc(33% - 37px);
	height: Calc(50% - 35px);
	padding:30px;
}

.global-level {
	font-size: 20px;
	text-align:center;
	margin-top:30px;
}

.global-money {
	font-size:20px;
	margin: 30px 0 0 0;
	text-align:center;
}

.global-coal {
	font-size:20px;
	margin: 30px 0 0 0;
	text-align:center;
}

.global-happiness {
	font-size:20px;
	margin: 30px 0 0 0;
	vertical-align: middle;
	text-align:center;
}

.global-happiness face {
	vertical-align: middle;
}

.level-text {
	font-size:30px;
}

.separator {
	width:calc(100% - 100px);
	margin:20px 50px 5px 50px;
	border-top: #ccc 1px solid;
}

time-control {
	display:block;
	bottom:150px;
	height:100px;
	width:100%;
	position:absolute;
}

.global-panels {
	position:relative;
}

.house-label {
	text-align:center;
	margin-top:10px;
}

.time-icons {
	text-align:center;
	margin-top:30px;
}

.time-icon {
	display:inline-block;
}

.time-icon img {
	width:56px;
	height:56px;
}