html, body {
	height:100%;
	margin:0;
	padding:0;
}

.synergyCity {
	display:flex;
	flex-direction: row;
}

.toolbox {
	flex: 0 0 400px;
	border-right: #ddd 1px solid;
}

.canvas {
	flex: 1;
	height:100%;
}
/*
house {
	display:block;
	height:100%;
}*/

house {
	display:flex;
	flex-direction: column;
	height:100%;
	/*margin: 100px;*/
}

.house-status {
	flex: 0 0 50px;
	background: red;
}

.house-view {
	flex: 1;
	background: orange;
}

.house-inventory {
	flex: 1;
	background: yellow;
	position:relative;
}

.solar-panels {
	height:100%;
	width:100%;
	position:absolute;
}

.solar-panel {
	float:left;
	width:25%;
	height:50%;
	background:grey;
}

.solar-panel {
    opacity: 1;
}
.solar-panel.ng-enter {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
}
.solar-panel.ng-enter-active {
    opacity: 1;
}

.house-status {
	display:flex;
	flex-direction:row;
}

.house-status-production {
	flex:1;
}

.house-status-generation {
	flex:1;
}

.house-status-happiness {
	flex:1;
}