	<div class="house-status" drag-over="dragOverSolarPanel($event)" drop="dropSolarPanel()">
		<div class="status-item">
			<img class="status-icon" src="content/production.svg" />
			{{house.getProduction(season) | number:1}}kWh
		</div>
		<div class="status-item">{{house.getConsumption(season) | number:1}}kWh</div>
		<div class="status-item"><face style="width:20px;height:20px;" happiness-level="house.happiness"></face></div>
		<div class="status-item">{{house.wallet.balance | number:0}}</div>
		<div class="status-item">{{house.wallet.balance | number:0}}</div>
	</div>
	<div class="house-view" drag-over="dragOverSolarPanel($event)" drop="dropSolarPanel()">
		<div class="house-image" ng-style="{ 'background-image': 'url(\'content/house_' + house.iconId + '.svg\')' }"></div>
	</div>
	<div class="house-inventory" drag-over="dragOverSolarPanel($event)" drop="dropSolarPanel()">
		<div class="solar-panels">
			<div class="solar-panel solar-panel-filled" ng-repeat="solarPanel in solarPanels"></div>
			<div class="solar-panel" ng-repeat="solarPanel in placeholderSolarPanels"></div>
		</div>
	</div>
